<section class="section widget-content wow fadeIn" data-wow-delay="0.3s">
    <!-- Heading -->
    <nav class="navbar navbar-dark sidebar-heading">
        <div class="flex-center">
            <h4 class="h4-responsive white-text">Related Posts</h4>
        </div>
    </nav>
    <!--/ Heading -->

    <div class="single-post">

        <div class="row">
            <!-- Excerpt -->
            <div class="col-12">
                <div class="post-data">
                    <p></p>
                </div>
                <h6><a>What colors fit to blonde girl?</a> <a><i class="fa fa-comments-o"></i> 45</a> <i class="fa fa-clock-o"></i> 6 hours ago</h6>

            </div>
            <!--/ Excerpt -->
        </div>
        <!--/ First row -->
    </div>
</section>
<section class="section widget-content wow fadeIn" data-wow-delay="0.3s">
    <!-- Heading -->
    <nav class="navbar navbar-dark sidebar-heading">
        <div class="flex-center">
            <h4 class="h4-responsive white-text">Hot topics</h4>
        </div>
    </nav>
    <!--/ Heading -->

    <div class="single-post">

        <div class="row">
            <!-- Excerpt -->
            <div class="col-12">
                <div class="post-data">
                    <p></p>
                </div>
                <h6><a>What colors fit to blonde girl?</a> <a><i class="fa fa-comments-o"></i> 45</a> <i class="fa fa-clock-o"></i> 6 hours ago</h6>
            </div>
            <hr/>
            <!--/ Excerpt -->
        </div>
        <!--/ First row -->
    </div>
</section>