{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ user.username }} | {{ block.super }}{% endblock %}



{% block content %}

<div class="container-fluid" style="padding-top: 100px;"></div>
<div class="container -fluid">
    <section class="member-page">
    	<div class="row">
    		<div class="col-sm-8">
            {# include 'forum/statusupdate.html' #}
            <h4 class="h4-responsive">Welcome <strong>{{ user.username }}</strong>, here are the latest posts <small><span><a href="{% url 'forum:start_discussion' %}"><button class="btn btn-default btn-sm float-right">Start a discussion</button></a></span></small></h4> 
            <hr>
            {% include 'home/latest_update.html' %}    
            </div>
            <div class="col-sm-4">
                {# include 'home/badge.html' #}
                <section class="wow fadeIn">        
                    <!--Card-->
                        <!--Avatar-->
                    {% for item in profile %}
                        <div class="">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" class="img-fluid rounded-circle" width="300" height="300" alt="profie.picture">
                            {% else %}
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%282%29.jpg" class="img-fluid img-thumbnail" width="300" height="300" alt="profie.picture">    
                            {% endif %}                        
                        </div>

                        <div class="card-block">
                        
                            <!--Name-->
                            <h4 class="card-title"><strong>username: {{ item.user.username }}</strong></h4>
                            <!--Description-->
                            <hr>
                            <p>Rank: {{ item.rank }}</p>
                            <hr>
                            <p>Points: {{ profile.user.rank }}</p>
                            <hr>
                            <p>Email: {{ item.user.email }}</p>
                            <hr>
                            <!--Dribbble-->
                            <!-- <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a> -->
                            <!--Instagram-->
                            <!-- <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a> -->
                            <!--Pinterest-->
                            <!-- <a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a> -->
                            <p>click <a href="{% url 'users:profile_user' %}"><button class="btn btn-default btn-sm">Here</button></a> to update profile info</p>
                        </div>
                    {% endfor %}
                    <!--/Card-->
                </section>
            </div>            
            </div>
        </div>
    </section>
</div>

{% endblock %}