<!-- this format is not compulsory, you can have HTML that suits your project -->
{% load static %}
<li data-nf-id="{{ notification.id }}"
class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
    <p><strong>{{ notification.actor }}</strong> {{ notification.verb }} <a href="{{ notification.target_url }}">{{ notification.target|truncatechars:10 }}</a>
    <span class="timesince">{{ notification.created|timesince }} ago</span></p>

    <button data-id="{{ notification.id }}" class="mark-notification btn btn-default btn-sm"
        data-mark-action="{{ notification.read|yesno:'unread,read' }}"
        data-toggle-text="Mark as {{ notification.read|yesno:_('read,unread') }}">

        Mark as {{ notification.read|yesno:'unread,read' }}

    </button>
    <button class="delete-notification btn btn-default btn-sm" data-id="{{ notification.id }}">X</button>
</li>

<!-- <a href="{{ notification.actor_url }}"></a> -->