{% load static %}
{% load notification_tags %}
{# render_notifications using request.user.notifications.active.prefetch #}
{# include_notify_js_variables #}
{# user_notifications #}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}SEF: Sustainable Energy Forum{% endblock %}</title>
    
    <!-- Meta OG -->
    <meta property="og:title" content="Sustainable Energy Forum">
    <meta property="og:description" content="Share, debate and interact with like minded clean energy enthusiast and professionals">
    <meta property="og:image" content="{% static 'img/logo/logo2.png' %}">
    <meta property="og:url" content="http://www.sustenergy.ca/">
    <meta property="og:site_name" content="Sustainable Energy Forum">
    <!-- /Meta OG -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="Sustainable Energy Forum">
    <meta name="twitter:description" content="Share, debate and interact with like minded clean energy enthusiast and professionals">
    <meta name="twitter:title" content="Sustainable Energy Forum">
    <meta name="twitter:site" content="http://www.sustenergy.ca/">
    <meta name="twitter:image" content="{% static 'img/logo/logo2.png' %}">
    <meta name="twitter:creator" content="@ibroCEO">    


    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <!-- <link rel="manifest" href="/manifest.json"> -->

    <link rel="icon" sizes="96x96" href="{% static 'img/logo/logo3.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.css' %}" rel="stylesheet">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block pagecss %}
    {% endblock %}

    <style>
        /* Carousel and pictures */
        
        .view:not(.hm-zoom) {
            overflow: hidden;
            navbar {
                background-color: transparent;
            }
            .top-nav-collapse {
                background-color: #5e35b1;
            }
            @media only screen and (max-width: 768px) {
                .navbar {
                    background-color: #5e35b1;
                }
            }
        }
    </style>
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}

<script type="text/javascript">
    function createKeenWebAutoCollector(){window.keenWebAutoCollector=window.KeenWebAutoCollector.create({projectId:'598c0cd2c9e77c00017ec4d3',writeKey:'BF43BDD173A424454A0EA36E5D7E495C4833EFB7B5A3882F0BC54C3E285E0E51659072275DE22FFF2B58DC39AEFE19A98D6212866AECD264E13A0671D6C55FFA2825E9AB38EB3B09770D5DC56ED84322E1E2B1E84B9601C98A9744E6BD78CA06',onloadCallbacks:window.keenWebAutoCollector.onloadCallbacks}),window.keenWebAutoCollector.loaded()}function initKeenWebAutoCollector(){window.keenWebAutoCollector.domReady()?window.createKeenWebAutoCollector():document.addEventListener("readystatechange",function(){window.keenWebAutoCollector.domReady()&&window.createKeenWebAutoCollector()})}window.keenWebAutoCollector={onloadCallbacks:[],onload:function(a){this.onloadCallbacks.push(a)},domReady:function(){return["ready","complete"].indexOf(document.readyState)>-1}};
  </script>
  <script async type="text/javascript" src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.8.min.js" onload="initKeenWebAutoCollector()"></script>
    
</head>

<body class="mdb-skin">

    <!--Double navigation-->
    <header>
        {% include 'navbar.html' %}
    </header>
    <!--/Double navigation-->

    <!--Main layout-->
    <main>
        <div class="" style="min-height: 800px;">
            {% block content %}{% endblock %}
        </div>
    </main>
    <!--/Main layout-->

    <footer>
        {% include 'footer.html' %}
    </footer>

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <!-- tether -->
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>

    <script src="{% static 'notify/notifyX.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% if request.user.is_authenticated %}
    <script src="{% static 'pushnote.js' %}"></script>
    {% endif %} {% block before-body-close %} {% endblock %}

    <script>
        new WOW().init();
        /*
        function updateNotification(){
            var badge = $("#note-count-badge");
                $.ajax({
                    type: "GET",
                    url: "{% url 'notifications:update' %}",
                    success:function(data){
                        badge.text(data.count);
                    },
                    error: function(response, error){
                        console.log(response);
                        console.log(error);
                    }
                })
        }
        $(document).ready(function(){
            updateNotification();
        }) */
    </script>
</body>

</html>