<nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <h2>S.E.A</h2>
            <!-- <img src="https://mdbootstrap.com/img/logo/mdb-transparent-sm-shadows.png" class="d-inline-block align-top" alt="MDBootstrap"> -->
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav smooth-scroll mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#home"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#best-features"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#examples-of-use"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#testimonials"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#pricing"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#our-team"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#contact"></a>
                </li>
            </ul>
<!--             <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul> -->
            <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <!-- <a class="nav-link"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Contact</span></a> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{# url 'account_register' #}"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">Register</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> <span class="hidden-sm-down">My account</span>
                </a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'users:profile_user' %}">Profile</a>
                </div>
            </li>
            </ul>
        </div>
    </div>
</nav>





